{% load static %}
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="{% url 'dashboard:dashboard' %}" class="brand-wrap">
            <img src="https://www.bdtask.com/asset/img/bdtask-logo.webp" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="{% url 'dashboard:dashboard' %}">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'products:add_products' %}">
                    
                        Add Product</a>
                    <a href="{% url 'products:products' %}">Product List</a>
                    <a href="{% url 'products:products_reviews' %}">Product Reviews</a>
                    <a href="page-categories.html">Categories</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'orders:orders' %}">Order list</a>        
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Vendor</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'vendors:vendor_list' %}">Vendor list</a>
                </div>
            </li>
          
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'accounts:login' %}">User login</a>
                    <a href="{% url 'accounts:register' %}">User registration</a>
                    <a href="page-error-404.html">Error 404</a>
                </div>
            </li>
            
           
           
        </ul>
        <hr />
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="{% url 'dashboard:settings' %}">
                    <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
               
            </li>
            
        </ul>
        <br />
        <br />
    </nav>
</aside>